@font-face {
  font-family: "Vazir-Medium";
  src: url(../assets/fonts/Vazir-Medium.eot) format("eot"),
    url(../assets/fonts/Vazir-Medium.woff) format("woff"),
    url(../assets/fonts/Vazir-Medium.woff2) format("woff2");
  font-weight: 100;
  font-style: "normal";
}

* {
  font-family: "Vazir-Medium";
  direction: rtl;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Vazir-Medium";
  overflow-x: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}

.mt-250 {
  margin-top: 250px;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}

#nav .navbar {
  font-size: 16px;
  height: 60px;
  margin: 24px 0 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#nav .navbar ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 0 0 18px;
  position: relative;
}

#nav .navbar ul li::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 5px;
  width: 0;
  height: 2px;
  background-color: #3672e4;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

#nav .navbar ul li:hover::after {
  width: 100%;
}

#nav .navbar ul li a {
  color: #2e2e2e;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

#nav .navbar ul li a:hover {
  color: #3672e4;
}

#nav .navbar .social-icons {
  padding: 21px 0 0 0;
}

#nav .navbar .social-icons a {
  color: #2e2e2e;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

#nav .navbar .social-icons a:hover {
  color: #3672e4;
}

#nav .navbar .social-icons a i {
  margin: 0 10px 0 0;
}

#header header {
  width: 100%;
  margin: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#header header .right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 67%;
  flex-basis: 67%;
  max-width: 67%;
}

#header header .right .gear-1 {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 40px;
  color: #6b6b6b;
  -webkit-animation: gear-1 13s infinite linear;
  animation: gear-1 13s infinite linear;
}

@-webkit-keyframes gear-1 {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes gear-1 {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#header header .right .gear-2 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  color: #4e4e4e;
  -webkit-animation: gear-2 13s infinite linear;
  animation: gear-2 13s infinite linear;
}

@-webkit-keyframes gear-2 {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes gear-2 {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

#header header .right .sq-1 {
  position: absolute;
  top: 0;
  left: 80px;
  width: 20px;
  height: 20px;
  border: 4px solid #efefef;
  -webkit-animation: sq-1 15s infinite linear;
  animation: sq-1 15s infinite linear;
}

@-webkit-keyframes sq-1 {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes sq-1 {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

#header header .right .sq-2 {
  position: absolute;
  bottom: -20px;
  left: 130px;
  width: 40px;
  height: 40px;
  border: 4px solid #ff7373;
  -webkit-animation: sq-2 40s infinite linear;
  animation: sq-2 40s infinite linear;
}

@-webkit-keyframes sq-2 {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes sq-2 {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#header header .right .sq-3 {
  position: absolute;
  bottom: 0;
  right: 80px;
  width: 30px;
  height: 30px;
  border: 4px solid #efefef;
  -webkit-animation: sq-3 7s infinite linear;
  animation: sq-3 7s infinite linear;
}

@-webkit-keyframes sq-3 {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes sq-3 {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

#header header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  max-width: 33%;
  padding: 17% 0 0 0;
}

#header header .left h1 {
  font-size: 34px;
  margin: 0 0 30px 0;
}

#course {
  position: relative;
}

#course .pipe {
  position: absolute;
  width: 1301px;
  height: 343px;
  background: rgba(140, 124, 229, 0.08);
  top: 67px;
  left: -89px;
  border-radius: 0 250px 250px 0;
}

#course .row .course {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  max-width: 30%;
  background-color: #fff;
  position: relative;
  border-bottom: 4px solid red;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  margin: 0 16px 0 16px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

#course .row .course:hover {
  -webkit-box-shadow: 0 0 13px 0 rgba(95, 95, 95, 0.5);
  box-shadow: 0 0 13px 0 rgba(95, 95, 95, 0.5);
}

#course .row .course:hover .teacher {
  top: -54px;
}

#course .row .course:hover .teacher-name {
  width: 200px;
  right: 70px;
}

#course .row .course .status {
  position: absolute;
  font-size: 12px;
  left: 10px;
  top: 10px;
  background: rgba(46, 125, 222, 0.9);
  color: #fff;
  padding: 2px 6px 2px 6px;
  border-radius: 2px 2px 2px 2px;
}

#course .row .course .teacher {
  position: absolute;
  top: -34px;
  right: 9px;
  width: 54px;
  z-index: -1;
  -webkit-transition: top 1s ease;
  transition: top 1s ease;
}

#course .row .course .teacher-name {
  position: absolute;
  top: -30px;
  right: 9px;
  font-size: 13px;
  z-index: -2;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#course .row .course a {
  margin: 10px 10px 10px 10px;
  font-size: 18px;
  color: #313131;
}

#course .row .course .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin: 0 10px 0 10px;
  padding: 16px 0 12px 0;
  border-top: 1px solid #efefef;
}

#course .row .course .meta span:nth-child(1) {
  margin: 0 0 0 auto;
}

#course .row .course .meta span:nth-child(1) i {
  color: #45a1ff;
  margin: 0 0 0 3px;
}

#course .row .course .meta span:nth-child(2) {
  padding: 0 8px 0 8px;
  color: #37b537;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 100px;
}

.path .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.path .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
  max-width: 45%;
}

.path .left-side .path-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.path .left-side .path-title h2 {
  font-size: 26px;
  margin-bottom: 34px;
  color: #46484d;
}

.path .left-side .path-title p {
  font-size: 18px;
  line-height: 42px;
  color: #868383;
}

#topic {
  position: relative;
}

#topic::after,
#topic::before {
  content: "";
  position: absolute;
  background: rgba(140, 124, 229, 0.08);
  width: 200px;
  height: 250px;
  bottom: 90px;
  left: -110px;
  -webkit-transform: skewX(10deg);
  transform: skewX(10deg);
  border-radius: 0 20px 50px 0;
}

#topic::after {
  bottom: 149px;
  left: -200px;
}

#topic .topic-title {
  font-size: 26px;
  margin-bottom: 30px;
  border-right: 5px solid red;
  padding: 0 10px 0 0;
}

#topic .topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}

#topic .topic .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 49%;
  flex-basis: 49%;
  max-width: 49%;
  border: 1px solid #efefef;
  border-radius: 3px 3px 3px 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#topic .topic .card:hover .topic-img::after {
  opacity: 0.5;
}

#topic .topic .card .topic-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  max-width: 30%;
  overflow: hidden;
  position: relative;
}

#topic .topic .card .topic-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#topic .topic .card .topic-detail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  max-width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 22px 22px 22px 22px;
}

#topic .topic .card .topic-detail::after {
  content: "";
  width: 37px;
  height: 148%;
  background-color: #fff;
  position: absolute;
  top: -25px;
  right: -25px;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

#topic .topic .card .topic-detail a {
  font-size: 18px;
}

#topic .topic .card .topic-detail .meta {
  font-size: 12px;
  margin-top: 15px;
  color: #ccc;
}

#topic .topic .card .topic-detail .meta span {
  margin-left: 16px;
}

#topic .topic .card .topic-detail p {
  font-size: 14px;
  margin-top: 20px;
  line-height: 30px;
  color: #757575;
}

#footer {
  padding: 80px 0 0 0;
  background-color: #35373a;
}

#footer .footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#footer .footer .side-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  max-width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#footer .footer .side-1 h5 {
  color: #fff;
  margin: 0 0 32px 0;
}

#footer .footer .side-1 ul {
  font-size: 15px;
  margin: 0 0 40px 0;
}

#footer .footer .side-1 ul li {
  margin: 0 0 18px 0;
  color: #cacaca;
}

#footer .footer .side-1 ul li i {
  margin: 0 0 0 12px;
}

#footer .footer .side-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  max-width: 30%;
}

#footer .footer .side-2 ul {
  font-size: 15px;
  margin: 0 0 40px 0;
}

#footer .footer .side-2 ul li {
  margin: 0 0 16px 0;
}

#footer .footer .side-2 ul li a {
  color: #cacaca;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

#footer .footer .side-2 ul li a:hover {
  color: yellow;
}

#footer .footer .side-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  max-width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#footer .footer .side-3 p {
  color: yellow;
  margin: 0 0 26px 0;
  font-size: 16px;
  text-align: center;
}

#footer .footer .side-3 form {
  position: relative;
}

#footer .footer .side-3 form .email {
  width: 100%;
  height: 35px;
  padding: 10px 10px 10px 10px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  outline: none;
}

#footer .footer .side-3 form .submit {
  position: absolute;
  top: 8px;
  left: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

#footer .footer .side-3 form .submit:hover {
  color: #4382f8;
}

#footer p.copy-right {
  background-color: #2b2d30;
  text-align: center;
  padding: 20px 0 20px 0;
  color: #cacaca;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */
