// font variable
$fonts-path: "../assets/fonts";
$font-family: "Vazir-Medium";
$font-weight: 100;
$font-style: "normal";
$default-font-size: 16px;
// color
$nav-link: rgb(46, 46, 46);
$nav-link-hover: rgb(54, 114, 228);
//mixins
@mixin flex($flex: flex, $position-x: center, $position-y: center) {
  display: $flex;
  justify-content: $position-x;
  align-items: $position-y;
}
@mixin margin-padding($top, $right, $bottom, $left, $margin: true) {
  @if ($margin) {
    margin: $top $right $bottom $left;
  } @else {
    padding: $top $right $bottom $left;
  }
}
@mixin section-creator($flex: flex, $flex-basis: null, $max-width: null) {
  display: $flex;
  flex-basis: $flex-basis;
  max-width: $max-width;
}
@mixin border-radius($top-left, $top-right, $bottom-right, $bottom-left) {
  border-radius: $top-left $top-right $bottom-right $bottom-left;
}
@font-face {
  font-family: $font-family;
  src: url(#{$fonts-path}/Vazir-Medium.eot) format("eot"),
    url(#{$fonts-path}/Vazir-Medium.woff) format("woff"),
    url(#{$fonts-path}/Vazir-Medium.woff2) format("woff2");
  font-weight: $font-weight;
  font-style: $font-style;
}
// reset
* {
  font-family: $font-family;
  direction: rtl;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family;
  overflow-x: hidden;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
// public style
.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}
.mt-250 {
  margin-top: 250px;
}
.row {
  width: 100%;
  @include flex(flex, center, null);
}
.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}
#nav {
  .navbar {
    font-size: $default-font-size;
    height: 60px;
    @include margin-padding(24px, 0, 24px, 0);
    @include flex(flex, space-between, null);
    ul {
      li {
        display: inline-block;
        line-height: 60px;
        @include margin-padding(0, 0, 0, 18px);
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: 0;
          left: 0;
          bottom: 5px;
          width: 0;
          height: 2px;
          background-color: rgb(54, 114, 228);
          transition: width 0.5s ease;
        }
        &:hover::after {
          width: 100%;
        }
        a {
          color: $nav-link;
          transition: color 0.5s ease;
          &:hover {
            color: $nav-link-hover;
          }
        }
      }
    }
    .social-icons {
      @include margin-padding(21px, 0, 0, 0, false);
      a {
        color: $nav-link;
        transition: color 0.5s ease;
        &:hover {
          color: $nav-link-hover;
        }
        i {
          @include margin-padding(0, 10px, 0, 0);
        }
      }
    }
  }
}
#header {
  header {
    width: 100%;
    @include margin-padding(100px, 0, 0, 0);
    @include flex(flex, space-between, flex-start);
    .right {
      position: relative;
      @include section-creator(flex, 67%, 67%);
      .gear-1 {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: $default-font-size + 24px;
        color: rgb(107, 107, 107);
        animation: gear-1 13s infinite linear;
      }
      @keyframes gear-1 {
        100% {
          transform: rotate(360deg);
        }
      }
      .gear-2 {
        position: absolute;
        top: 0;
        right: 0;
        font-size: $default-font-size + 4px;
        color: rgb(78, 78, 78);
        animation: gear-2 13s infinite linear;
      }
      @keyframes gear-2 {
        100% {
          transform: rotate(-360deg);
        }
      }
      .sq-1 {
        position: absolute;
        top: 0;
        left: 80px;
        width: 20px;
        height: 20px;
        border: 4px solid #efefef;
        animation: sq-1 15s infinite linear;
      }
      @keyframes sq-1 {
        100% {
          transform: rotate(-360deg);
        }
      }
      .sq-2 {
        position: absolute;
        bottom: -20px;
        left: 130px;
        width: 40px;
        height: 40px;
        border: 4px solid #ff7373;
        animation: sq-2 40s infinite linear;
      }
      @keyframes sq-2 {
        100% {
          transform: rotate(360deg);
        }
      }
      .sq-3 {
        position: absolute;
        bottom: 0;
        right: 80px;
        width: 30px;
        height: 30px;
        border: 4px solid #efefef;
        animation: sq-3 7s infinite linear;
      }
      @keyframes sq-3 {
        100% {
          transform: rotate(-360deg);
        }
      }
    }
    .left {
      @include section-creator(flex, 33%, 33%);
      @include margin-padding(17%, 0, 0, 0, false);
      h1 {
        font-size: $default-font-size + 18px;
        @include margin-padding(0, 0, 30px, 0);
      }
    }
  }
}
#course {
  position: relative;
  .pipe {
    position: absolute;
    width: 1301px;
    height: 343px;
    background: rgba(140, 124, 229, 0.08);
    top: 67px;
    left: -89px;
    @include border-radius(0, 250px, 250px, 0);
  }
  .row {
    .course {
      flex-direction: column;
      @include section-creator(flex, 30%, 30%);
      background-color: #fff;
      position: relative;
      border-bottom: 4px solid red;
      @include border-radius(0, 0, 5px, 5px);
      cursor: pointer;
      @include margin-padding(0, 16px, 0, 16px);
      transition: box-shadow 0.3s ease;
      &:hover {
        box-shadow: 0 0 13px 0 rgba(95, 95, 95, 0.5);
      }
      &:hover .teacher {
        top: -54px;
      }
      &:hover .teacher-name {
        width: 200px;
        right: 70px;
      }
      .status {
        position: absolute;
        font-size: $default-font-size - 4px;
        left: 10px;
        top: 10px;
        background: rgba(46, 125, 222, 0.9);
        color: #fff;
        @include margin-padding(2px, 6px, 2px, 6px, false);
        @include border-radius(2px, 2px, 2px, 2px);
      }
      .teacher {
        position: absolute;
        top: -34px;
        right: 9px;
        width: 54px;
        z-index: -1;
        transition: top 1s ease;
      }
      .teacher-name {
        position: absolute;
        top: -30px;
        right: 9px;
        font-size: $default-font-size - 3px;
        z-index: -2;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: all 1s ease;
      }
      a {
        @include margin-padding(10px, 10px, 10px, 10px);
        font-size: $default-font-size + 2px;
        color: #313131;
      }
      .meta {
        display: flex;
        font-size: $default-font-size - 2px;
        @include margin-padding(0, 10px, 0, 10px);
        @include margin-padding(16px, 0, 12px, 0, false);
        border-top: 1px solid #efefef;
        span:nth-child(1) {
          @include margin-padding(0, 0, 0, auto);
          i {
            color: #45a1ff;
            @include margin-padding(0, 0, 0, 3px);
          }
        }
        span:nth-child(2) {
          @include margin-padding(0, 8px, 0, 8px, false);
          color: #37b537;
          text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
.path {
  @include flex(flex, space-between, null);
  margin-bottom: 100px;
  .right-side {
    @include section-creator(flex, 50%, 50%);
  }
  .left-side {
    @include section-creator(flex, 45%, 45%);
    .path-title {
      @include flex(flex, center, center);
      flex-direction: column;
      h2 {
        font-size: $default-font-size + 10px;
        margin-bottom: 34px;
        color: #46484d;
      }
      p {
        font-size: $default-font-size + 2px;
        line-height: 42px;
        color: #868383;
      }
    }
  }
}
#topic {
  position: relative;
  &::after,
  &::before {
    content: "";
    position: absolute;
    background: rgba(140, 124, 229, 0.08);
    width: 200px;
    height: 250px;
    bottom: 90px;
    left: -110px;
    transform: skewX(10deg);
    @include border-radius(0, 20px, 50px, 0);
  }
  &::after {
    bottom: 149px;
    left: -200px;
  }
  .topic-title {
    font-size: $default-font-size + 10px;
    margin-bottom: 30px;
    border-right: 5px solid red;
    @include margin-padding(0, 10px, 0, 0, false);
  }
  .topic {
    @include flex(flex, space-between, null);
    margin-bottom: 20px;
    .card {
      @include section-creator(flex, 49%, 49%);
      border: 1px solid #efefef;
      @include border-radius(3px, 3px, 3px, 3px);
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      &:hover .topic-img::after {
        opacity: 0.5;
      }
      .topic-img {
        @include section-creator(flex, 30%, 30%);
        overflow: hidden;
        position: relative;
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          background-color: #000;
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0;
          top: 0;
          opacity: 0;
          transition: opacity 0.5s ease;
        }
      }
      .topic-detail {
        position: relative;
        @include section-creator(flex, 70%, 70%);
        flex-direction: column;
        @include margin-padding(22px, 22px, 22px, 22px, false);
        &::after {
          content: "";
          width: 37px;
          height: 148%;
          background-color: #fff;
          position: absolute;
          top: -25px;
          right: -25px;
          transform: rotate(5deg);
        }
        a {
          font-size: $default-font-size + 2px;
        }
        .meta {
          font-size: $default-font-size - 4px;
          margin-top: 15px;
          color: #ccc;
          span {
            margin-left: 16px;
          }
        }
        p {
          font-size: $default-font-size - 2px;
          margin-top: 20px;
          line-height: 30px;
          color: #757575;
        }
      }
    }
  }
}
#footer {
  @include margin-padding(80px, 0, 0, 0, false);
  background-color: #35373a;
  .footer {
    align-items: center;
    .side-1 {
      @include section-creator(flex, 30%, 30%);
      flex-direction: column;
      h5 {
        color: #fff;
        @include margin-padding(0, 0, 32px, 0);
      }
      ul {
        font-size: $default-font-size - 1px;
        @include margin-padding(0, 0, 40px, 0);
        li {
          @include margin-padding(0, 0, 18px, 0);
          color: #cacaca;
          i {
            @include margin-padding(0, 0, 0, 12px);
          }
        }
      }
    }
    .side-2 {
      @include section-creator(flex, 30%, 30%);
      ul {
        font-size: $default-font-size - 1px;
        @include margin-padding(0, 0, 40px, 0);
        li {
          @include margin-padding(0, 0, 16px, 0);
          a {
            color: #cacaca;
            transition: color 0.5s ease;
            &:hover {
              color: yellow;
            }
          }
        }
      }
    }
    .side-3 {
      @include section-creator(flex, 30%, 30%);
      flex-direction: column;
      p {
        color: yellow;
        @include margin-padding(0, 0, 26px, 0);
        font-size: $default-font-size;
        text-align: center;
      }
      form {
        position: relative;
        .email {
          width: 100%;
          height: 35px;
          @include margin-padding(10px, 10px, 10px, 10px, false);
          border: none;
          @include border-radius(4px, 4px, 4px, 4px);
          outline: none;
        }
        .submit {
          position: absolute;
          top: 8px;
          left: 10px;
          border: none;
          background-color: transparent;
          outline: none;
          cursor: pointer;
          transition: color 0.5s ease;
          &:hover {
            color: rgb(67, 130, 248);
          }
        }
      }
    }
  }
  p.copy-right {
    background-color: #2b2d30;
    text-align: center;
    @include margin-padding(20px, 0, 20px, 0, false);
    color: #cacaca;
    font-size: $default-font-size - 2px;
  }
}
